*{
    transition: 0.3s;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(to right bottom, #3d3d3d, #4b4b4b, #5a5a5a, #696969, #787878);
}
h1, h2, h3, p{
    margin: 0;
    color: #ffffff;
}
header{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 10%;
    padding-left: 80px;
    border-bottom: 1.5px solid #ffffff;
}
header p{
    font-size: 25px;
    cursor: pointer;
}
header p:hover{
    color: rgb(166, 230, 255);
}
section{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.start{
    margin-top: -100vh;
    display: block;
}
.mainStart{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainStart p{
    font-size: 65px;
}
button{
    width: 15vw;
    padding: 20px 30px;
    margin-top: 60px;
    font-size: 35px;
    color: white;
    background: #69696900;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
}
button:hover{
    color: rgb(166, 230, 255);
    border: 1px solid rgb(166, 230, 255);
}
.optionContMain{
    margin-top: -100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.char{
    font-size: 50px;
}
.optionsCont{
    display: flex;
    gap: 150px;
}
.optionsCont{
    margin-top: 50px;
}
.options{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options p{
    font-size: 35px;
}
.colorsCont{
    width: 400px;
    height: 380px;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 41px);
    grid-template-rows: repeat(3, 41px);
    grid-column-gap: 78px;
    grid-row-gap: 80px;
}
.color{
    width: 41px;
    height: 41px;
    cursor: pointer;
    border: 1px solid white;
    background:rgb(210, 116, 247)
}
.musicCont{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.music{
    width: 350px;
    height: 80px;
    background: white;
    cursor: pointer;
}
.level{
    font-size: 25px;
    margin-bottom: 40px;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -100vh;
}
.params{
    width: 15vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2a2a;
    margin-bottom: 8px;
    box-shadow: 0px 0px 50px 8px rgb(41, 40, 41);
    z-index: 5;
}
.params p{
    font-size: 25px;
}
.params span{
    font-size: 45px;
    margin-left: 10px;
}
canvas{
    width: 50vw;
    height: 75vh; 
    background: rgb(36, 32, 32);
    box-shadow: 0px 0px 28px 5px #727070;
}
.gameL{
    font-size: 30px;
    position: absolute;
    right: 10vw;
    top: 10vh;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end span{
    margin-left: 10px;
}
.endNews p{
    margin-bottom: 50px;
}
.over{
    font-size: 80px;
}
.newRecord{
    font-size: 60px;
}
.infoEnd p{
    font-size: 30px;
    margin-bottom: 60px;
}
.end button{
    width: 14vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    border: 1px solid white;
}
.end button:hover{
    color: rgb(166, 230, 255);
    border: 1px solid rgb(166, 230, 255);
}
.info{
    width: 100vw;
    height: 50vh;
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;
}
.endNews, .infoEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infoEnd{
    padding-top: 80px;
    height: 50vh;
    align-items: flex-start;
}
.end img{
    width: 30px;
    height: 30px;
    margin-top: 3px;
}
